*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial;
}

.container{
    background-color: aliceblue;
}

.subcontainer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(38, 149, 168);
    padding: 20px;
    text-transform: uppercase;
    color: rgb(4, 41, 77);
    font-weight: bold;
    box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.30);
}

.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}